@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  color-scheme: dark;
}
.logo {
  display: flex;
  flex-direction: rows;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  text-wrap: nowrap;
  color: gold;
}

.namelogo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.namelogo #shortlogo {
  font-size: 30px;
  line-height: 23px;
}

.namelogo #longlogo {
  font-size: 15px;
  line-height: 23px;
}

/* header */
header {
  top: 0;
  position: sticky;
  padding: 0 1rem;
  background-color: #444a95;
  color: white;
  z-index: 100;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  display: flex;
  line-height: 50px;
  width: 135px;
  text-align: center;
  justify-content: center;
}

.navbar .logo {
  cursor: pointer;
  display: flex;
}
.navbar li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffda37;
  font-weight: 500;
  text-wrap: nowrap;
  font-family: "Inter", sans-serif;
}

.navbar li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #ffda37;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
  margin: 0 auto;
  position: relative;
  bottom: 12px;
}
.navbar li a:hover::after {
  width: 100%;
}

.navbar li:nth-child(n-1) {
  border-left: 2px solid #ffda37;
}
.navbar .toggle_btn {
  display: none;
  scale: 1.5;
  align-self: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: 800;
}

/* drop down menu */
.dropdownmenu {
  position: absolute;
  right: 0;
  top: 3rem;
  width: max-content;
  height: 0;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #444a95;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}
.dropdownmenu.open {
  height: max-content;
  width: 100%;
  z-index: 1;
  height: 130px;
  opacity: 1;
  transform: translateY(0);
}
.dropdownmenu li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdownmenu li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}
.dropdownmenu li a:hover::after {
  width: 100%;
}
.dropdownmenu li a {
  padding: 0 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #ffda37;
}

/* responsive */
@media (max-width: 700px) {
  .navbar {
    height: 3rem;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .dropdownmenu {
    display: block;
  }
}

/* main */
.main-container {
  display: grid;
  background-image: linear-gradient(to bottom, #ffffff 0%, #444a95 250%);
  border-radius: 30px;
  padding: 4rem 3rem 2rem 3rem;
  margin: 2rem 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "main-content-left main-content-right"
    "bar bar";
}

.main-content.left {
  grid-area: main-content-left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: left;
}

.animate-fadeIn > * {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-content.left h1 {
  display: flex;
  width: fit-content;
  padding: 0 30px 0 30px;
  line-height: 100%;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 8vw;
  width: fit-content;
  background-image: linear-gradient(to right, #fff2b7, #f5d877);
  background-blend-mode: multiply;
  border-radius: 20px;
  color: #4048c0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.main-content.left p {
  font-size: 1.5rem;
  word-wrap: wrap;
  font-weight: 500;
  color: #4048c0;
  text-align: left;
  padding: 0 38px;
  margin: 0 0 2rem 0;
}

.main-content.right {
  grid-area: main-content-right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content.right a {
  padding: 1rem 2rem;
  background-color: rgb(226, 230, 13);
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  transition: all 0.3s ease-in-out;
}

.bar {
  grid-area: bar;
  display: block;
  height: 28px;
  width: fit-content;
  gap: 0.5rem;
}

.bar li {
  display: inline-block;
  margin: 1px;
  width: 250px;
  height: 7px;
  opacity: 60%;
  background-image: linear-gradient(to bottom, #ffffff60, #d0eaff60);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

li hr.timer {
  border: 0;
  height: 7px;
  width: 0%;
  opacity: 100%;
  background-image: linear-gradient(to bottom, #ffffff 40%, #8f8f8f 100%);
  border-radius: 28px;
}

@media (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-content-left"
      "bar"
      "main-content-right";
    margin: 4rem 2rem 0 2rem;
    padding: 0;
  }
  .bar {
    padding: 0 1rem;
  }
  .bar li {
    width: 90px;
  }
  .main-content.left {
    padding: 1rem;
  }
  .main-content.left p {
    font-size: 1rem;
  }
  .main-content.right {
    padding: 1rem;
  }
}

/* EXPLANATION PAGE */

.explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ========== MAIN EXPLANATION ========== */

.main-explanation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #013880;
  gap: 3rem;
  padding: 60px;
}
.main-explanation .aboutmdc {
  display: flex;
  flex: 1;
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 30px;
  box-shadow: 0 0 50px pink;
  align-items: end;
}
.main-explanation .mdcrobot {
  display: flex;
  flex: 1;
  width: 100%;
  height: 400px;
  background-color: white;
}
.main-explanation .lookart {
  display: flex;
  flex: 1;
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 30px;
  box-shadow: 0 0 50px pink;
}

/* ========== CURVEBOX ========== */
.containercurvebox {
  display: flex;
  background-color: #013880;
  width: 100%;
}

.curvebox {
  display: flex;
  height: 50px;
  background-color: white;
  width: 100%;
  border-radius: 100px 100px 0 0;
}

/* ========== CARD WRAPPER ========== */
.swiper {
  max-width: 1200px;
  padding: 40px 0 !important;
  background-color: #ffffff;
  border-radius: 14px;
  /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
  position: relative;
  overflow: visible;
  justify-self: center;
  margin: 40px;
  z-index: 1;
  width: 90%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.12);
  padding: 24px;
  box-sizing: border-box;
  /* user-select: none; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.swiper-slide-next {
  transform: scale(1.2) translateY(-20px) !important;
  transition: transform 0.3s ease;
  z-index: 10;
}
.swiper-slide:active {
  cursor: grabbing;
}
.swiper-slide h2 {
  margin: 0 0 12px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #1e293b;
  text-transform: uppercase;
}
.swiper-slide p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: #475569;
  line-height: 1.4;
}
.swiper-button-prev,
.swiper-button-next {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  transition: background 0.3s ease;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.swiper-button-prev {
  left: 0px !important;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.swiper-button-next {
  right: 0px !important;
  color: #020202;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.swiper-pagination {
  text-align: center;
  position: relative;
  margin-top: 18px;
}
.swiper-pagination-bullet {
  background: #bbb;
}
.swiper-pagination-bullet-active {
  background: #007aff;
}

@media (max-width: 768px), (max-width: 1024px) {
  .swiper-slide-next {
  transform: scale(1) translateY(0px) !important;
  transition: transform 0.3s ease;
  z-index: 10;
  }
}


/* ========= Footer ========== */
footer {
  width: 100%;
}

.footer-content {
  display: flex;
  width: 100%;
  background-color: #013880;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding: 2rem;
}

.footer-left {
  width: 450px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: start;
  border-right: 2px solid #ffda37;
  height: 360px;
  padding: 0 2rem 2rem 2rem;
}

.footer-left p {
  line-height: 15px;
  font-size: 13px;
}

.footer-left p:nth-child(5) {
  margin-top: 30px;
}

.footerlogo {
  display: flex;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#findsocialmedia {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

#findsocialmedia a {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  line-height: 40px;
  width: 40px;
}

.footer-right {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
  padding: 2rem;
}

.footer-right iframe {
  width: 100%;
  height: 300px;
  align-self: center;
}

.footer-right p {
  align-self: center;
}

@media (max-width: 730px) {
  .footer-content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-right {
    width: 100%;
  }
  .footer-left {
    width: 100%;
    border-bottom: 2px solid #ffda37;
    border-right: none;
  }
}

/* ========== FOOTER BOTTOM ========== */
.footer-bottom {
  grid-area: footer-bottom;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffda37;
  padding: 10px;
  line-height: 20px;
  color: #013880;
}

.footer-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-bottom-right {
  display: flex;
  font-weight: 600;
  flex-direction: column;
  align-items: end;
}
