* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background: #f0f0f0;
}
.logo {
  display: flex;
  flex-direction: rows;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  text-wrap: nowrap;
  color: gold;
}

.namelogo {
  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.namelogo #shortlogo {
  font-size: 30px;
  line-height: 23px;
}

.namelogo #longlogo {
  font-size: 15px;
  line-height: 23px;
}

/* header */
header {
  position: relative;
  padding: 0 1rem;
  background-color: #444A95;
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  display: inline-block;
  line-height: 50px;
  width: 135px;
  text-align: center;
}

.navbar .logo{
  cursor: pointer;
  display: flex;

}
.navbar li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #FFDA37;
  font-weight: 500;
  text-wrap: nowrap;
  font-family: "Inter", sans-serif;
}

.navbar li:nth-child(n-1) {
  border-left: 2px solid #FFDA37;
}
.navbar .toggle_btn {
  display: none;
  scale: 1.5;
  align-self: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: 800;
}

.tandatanya {
  position: absolute;
  top: 51%;
  left: 31%;
  transform: translate(-50%, -400%);
  width: 300px;
  height: 35px;
  border-radius: 30px;
  background: #444A95;
}

.vector1 {
  height: 15px;
  width: 15px;
  background: transparent;
  position: relative;
  top: 7px;
  left: 260px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);

}

.vector2 {
  height: 9px;
  width: 3px;
  background: white;
  position: relative;
  left: 272px;
  top: 4px;
  transform: rotate(-30deg);
}

.textsearch {
  position: relative;
  font-size: 20px;
  bottom: 20px;
  left: 20px;
  color: #ded7d7;
}

.sub1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 590px;
  height: 300px;
  border-radius: 20px 0px 20px 20px;
  background: #444A95;
  box-shadow: 20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
}

.pilihan {
  position: absolute;
  top: 37%;
  left: 72.1580%;
  transform: translate(-50%, -80%);
  width: 250.0124px;
  height: 52px;
  border-radius: 30px 20px 0px 0px;
  background: #444A95;
}

.logo {
  height:100%;
  position: relative;
}

.logo2 {
  height: 40px;
  width: 300px;
  background: #727eec;
  border-radius: 10px;
  position: relative;
  bottom: 285px;
  left: 280px;
}

.adalah {
  position: relative;
  font-size: 23px;
  top: 5px;
  left: 12px;
  color: white;
}

.teksnya {
  height: 100px;
  width: 240px;
  position: relative;
  bottom: 265px;
  left: 300px;
}

.Tfoto {
  height: 34px;
  width: 34px;
  position: relative;
  background-color: #b93228;
  top: 13px;
  left: 17px;
  border-radius: 50%;
}

.Tvideo {
  height: 34px;
  width: 34px;
  position: relative;
  background-color: #e7bd40;
  bottom: 21px;
  left: 70px;
  border-radius: 50%;
}

.Tdesain {
  height: 34px;
  width: 34px;
  position: relative;
  background-color: #294172;
  bottom: 55px;
  left: 123px;
  border-radius: 50%;
}

.Tprogram {
  height: 34px;
  width: 34px;
  position: relative;
  background-color: #245415;
  bottom: 90px;
  left: 176px;
  border-radius: 50%;
}